html,body,.esri-view,.esri-map {
        padding: 0;
        margin: 0;
        height: 600px;
        width: 100%;
    }

.loading { 
    opacity:0.6;
    position: fixed;
    top: 5%; 
    right: 5%;   
    padding:10px;
    color:#fff;
    background:#000;
    z-index:10000;  
}
 